<main class="m-5">
    {{#if isAuthenticated}}
      {{#if empty}}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <ul>
                <li>No hay ciudadanos registrados</li>
            </ul>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
        {{/if}}
    <div class="row row-cols-md-4">
        {{#each ciudadanos}}
        <div class="col pt-3">
            <div class="card">
                
                <div class="card-body">
                    <p class="card-text">
                        <span id="nombre"><strong>Cédula: </strong>{{this.cedula}}</span><br>
                        <span id="nombre"><strong>Nombre: </strong>{{this.nombre}}</span><br>
                        <span id="nombre"><strong>Apellido: </strong>{{this.apellido}}</span><br>
                        <span id="nombre"><strong>Correo: </strong>{{this.email}}</span><br>
                        <span id="estado"><strong>Estado: </strong>{{#if this.estado}}Disponible <span class="green-circle"></span>{{else}}No Disponible <span class="red-circle"></span>{{/if}}</span>
                    </p>
                    <a href="/admin/editar-ciudadanos/{{this.id}}?edit=true" class="btn btn-primary fl editar" data-eleccion={{#if ../eleccion}} "true"{{else}}"false" {{/if}}>Editar</a>
                    
                </div>
            </div>
        </div>
        {{/each}}
    </div>
  




    <a href="/admin/agregar-ciudadanos"><img src="../../assets/images/add.png" alt="" width="100px"
            class="add editar" data-eleccion={{#if eleccion}} "true"{{else}}"false" {{/if}}></a>
    {{else}}
    <div class="alert alert-danger alert-dismissible fade show d-flex" role="alert">
        <ul>
            <li>No está Autorizado para visualizar esta Página</li>
        </ul>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
    {{/if}}
</main>