<main class="m-5">
    {{#if isAuthenticated}}
 
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">Elecciones</div>
                <form class="m-4" action={{#if editMode}} "/admin/actualizar-elecciones"
                    {{else}}"/admin/guardar-elecciones"{{/if}} method="POST">
                    
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre" {{#if editMode}}value="{{elecciones.nombre}}"
                            {{/if}}>
                    </div>
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <input type="text" class="form-control" name="fecha" id="fecha" {{#if editMode}}value="{{elecciones.fecha}}"
                            {{/if}}>
                    </div>
                    
                   
                    {{#if editMode}}
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select class="form-select" aria-label="Default select example" name="estado" id="estado">
                            <option value="false">No Disponible</option> 
                            <option value="true" {{#if elecciones.estado}} selected{{/if}}>Disponible</option>
                                                    
                        </select>
                    </div>
                    <input type="hidden" name="id" value="{{elecciones.id}}">
                    {{/if}}

                    <button type="submit" class="btn btn-primary" id="btn-eleccion"> {{#if
                        editMode}}Actualizar{{else}}Guardar{{/if}}
                        </button>
                        <a href="/admin/elecciones/" class="btn btn-danger ml-2">Cancelar</a>
                <input type="hidden" name="_csrf" value="{{csrfToken}}"></form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
   
    {{else}}
    <div class="alert alert-danger alert-dismissible fade show d-flex" role="alert">
        <ul>
            <li>No está Autorizado para visualizar esta Página</li>
        </ul>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
    {{/if}}
</main>