<main class="m-5">
    {{#if isAuthenticated}}
      {{#if empty}}
        <div class="alert alert-danger alert-dismissible fade show " role="alert">
            <ul>
                <li>No hay partidos registrados</li>
            </ul>  
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   
        {{/if}}
    <div class="row row-cols-md-4">
        {{#each partidos}}
        <div class="col pt-3">
            <div class="card">
                
                <div class="card-body card-470">
                    <p class="card-text">
                        <img src="{{this.logo}}" alt="" class="img-fill mb-3">
                        <span id="nombre"><strong>Nombre: </strong>{{this.nombre}}</span><br>
                        <span id="nombre"><strong>Descripcion: </strong>{{this.descripcion}}</span><br>
                        <span id="estado"><strong>Estado: </strong>{{#if this.estado}}Disponible <span class="green-circle"></span>{{else}}No está Disponible <span class="red-circle"></span>{{/if}}</span>
                    </p>
                    <a href="/admin/editar-partidos/{{this.id}}?edit=true" class="btn btn-primary fl editar" data-eleccion={{#if ../eleccion}} "true"{{else}}"false" {{/if}}>Editar</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
   
    <a href="/admin/agregar-partidos"><img src="../../assets/images/add.png" alt="" width="100px"
            class="add editar" data-eleccion={{#if eleccion}} "true"{{else}}"false" {{/if}}></a>
{{else}}
    <div class="alert alert-danger alert-dismissible fade show d-flex" role="alert">
        <ul>
            <li>No está Autorizado para visualizar esta Página</li>
        </ul>  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
    {{/if}}
</main>